[advice]
	detachedHead = false
[branch]
	sort = -committerdate
[column]
	ui = auto
[commit]
	gpgSign = true
[core]
	autocrlf = false
	eol = lf
	excludesFile = ~/projects/setup/linked/.gitignore
	quotePath = true
[diff]
	colorMoved = default
[fetch]
	prune = true
	pruneTags = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
[grep]
	lineNumber=true
[help]
	autoCorrect = "immediate"
[hub]
	protocol = https
[include]
	path = ~/projects/setup/linked/git_aliases.ini  # <--- Save aliases here!
[log]
	date = relative
[merge]
	autoStash = true
[pull]
	rebase = true
[push]
	autoSetupRemote = true
	followTags = true
[rebase]
	abbreviateCommands = true
	autoSquash = true
	autoStash = true
	missingCommitsCheck = "warn"
[rerere]
	autoUpdate = true
	enabled = true
[submodule]
	recurse = true
