[advice]
	detachedHead = false
[commit]
	gpgSign = true
[core]
	eol = lf
	excludesFile = ~/projects/mac/linked/.gitignore
	quotePath = true
[fetch]
	prune = true
	pruneTags = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
[grep]
	lineNumber=true
[help]
	autoCorrect = "immediate"
[hub]
	protocol = https
[include]
	path = ~/projects/mac/linked/.gitaliases.ini  # <--- Save aliases here!
[merge]
	autoStash = true
[pull]
	rebase = true
[push]
	autoSetupRemote = true
	followTags = true
[rebase]
	abbreviateCommands = true
	autoSquash = true
	autoStash = true
	missingCommitsCheck = "warn"
[submodule]
	recurse = true
