[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[core]
	eol = lf
	excludesFile = ~/.gitignore
	quotePath = true
[commit]
	gpgSign = true
[grep]
	lineNumber=true
[alias]
	unstage = reset HEAD --
	last = log -1 HEAD
[hub]
	protocol = https
[pull]
	rebase = true
[fetch]
	prune = true
	pruneTags = true
[rebase]
	autoSquash = true
	autoStash = true
	missingCommitsCheck = "warn"
	abbreviateCommands = true
[advice]
	detachedHead = false
[help]
	autoCorrect = "immediate"
[merge]
	autoStash = true
[push]
	autoSetupRemote = true
	followTags = true
	recurseSubmodules = true
