# This gitconfig should be placed in the user's home directory
# Changes to Git settings should be included in the core file and committed

# !!! Only use this file to save user or device specific config !!!
# Examples: Name, email, signing key

[include]
	path = ~/projects/mac/settings/.gitconfig_core  # <--- Place generic config here!

# -------------- Place your user or device specific config below this point --------------
